// Override default variables before the import
// $body-bg: #000;

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

// Utilities
.container {
  &-pt {
    padding-top: 7rem;
  }
}
// Nav
.nav-bg {
  background-color: rgba(#000000, 0.2);
  backdrop-filter: saturate(180%) blur(20px);
}

// Home
.carousel img {
  height: 100vh;
  object-fit: cover;
}

// Search
.search-page {
  padding: 7rem 0;
}

// Loading
.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(#000000, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  backdrop-filter: saturate(180%) blur(20px);

  &__content {
    margin: 0 auto;
    width: 2rem;
    height: 2rem;
  }
}
