// Override default variables before the import
// $body-bg: #000;

// Nav

.navbar {
  backdrop-filter: saturate(180%) blur(20px);
}
.nav-bg {
  background-color: rgba(#000000, 0.2);
}

// Home
.carousel img {
  height: 100vh;
  object-fit: cover;
}

// Search
.search-page {
  padding: 7rem 0;
}

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
